*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-y: hidden;
}

body {
  display: flex;
}

body div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 175px;
}

.sidebar {
  position: fixed;
  right: 16px;
  top: 30px;
  height: calc(100vh - 60px);
  border-radius: 12px;
  box-shadow: -2px 2px 16px 3px #777;
  background-color: #fcfcfc;
  display: flex;
  flex-direction: column;
}
.sidebar span {
  display: flex;
  gap: 16px;
  margin-bottom: 14px;
}
.sidebar button {
  border: 1px solid black;
  cursor: pointer;
}
.sidebar span button {
  width: 30px;
  height: 30px;
  border-radius: 6px;
}

.colors {
  background-color: white;
  width: fit-content;
  padding: 20px;
  border: 1px solid hsl(0, 0%, 47%);
  border-radius: 12px;
}

.slider {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#brushSlider {
  margin-block: 12px -12px;
}

.picker {
  display: flex;
  align-items: center;
}

.click {
  margin: 6px;
  padding: 0.5em 1em;
  background-color: white;
  border-radius: 8px;
  transition: all 250ms ease-in-out;
}
.click:hover {
  background-color: #eee;
  transition: all 250ms ease-in-out;
}

a {
  cursor: pointer;
}
